* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 55px;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #F55A5A
}

.nav--ico {
  align-self: center;
}
.nav--text {
  color: white;
}

.container {
  max-width: 750px;
  margin: auto;
}

.card {
  display: flex;
}


.card--stats {
  display: flex;
  align-items: center;
}

