* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

p{
  font-size: 10px;
}

h2{
  margin: auto;
}


nav {
  height: 55px;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #F55A5A
}

.nav--ico {
  align-self: center;
}
.nav--text {
  color: white;
  align-self: center;
  font-size: 14px;
}

.container {
  max-width: 750px;
  margin: 40px auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.card {
  display: flex;
  gap:10px;
  max-width: 440px;
}
.card--country{
  color: #2B283A;
  letter-spacing: 3px;
  margin-left: 5px;
}
.card--link {
  margin-left: 10px;
  color: #918E9B;
  text-decoration: underline;
  
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--date {
  font-weight: bold;
}
